#main-menubar menu {
	-moz-appearance: none !important;
}

#main-menubar menu label {
	margin: 0 !important;
}

#main-menubar menu menupopup {
	border: 0 !important;
}

#toolbar-menubar {
	padding: 0 !important;
	background: var(--background-second)
}

/* TOOLBAR BELOW PAGE */
#main-window:not([sizemode="fullscreen"]) body > box:nth-child(8)
{ position: fixed
; bottom: 0
; display: block
; z-index: 1
; background: gray
; width: 100%
; background-color: black;
; background-image: var(--lwt-header-image) !important
; background-repeat: no-repeat
; background-position: right top !important
}

#main-window:not([sizemode="fullscreen"]) #browser
{ padding-bottom: 40px
}


/* TOOLBAR BALLOONS HAVE TO BECOME VISIBLE AGAIN */
panel[position^="bottomcenter"]
{ top: 0px
}

.urlbarView
{ top: auto !important
; bottom: 100 !important
; background: rgba(0, 0, 0, 0.9);
}

#urlbar[breakout-extend]
{ top: auto !important
; bottom: 0px !important
}

#urlbar[open] .urlbarView-results
{ display: flex
; flex-direction: column-reverse
; bottom: 100 !important
}

#urlbar[open] .urlbarView-body-inner
{ margin-top: -230px
; border-top: none !important
}

#urlbar[open] #urlbar-input-container
{ display: flex
; position: absolute !important
; bottom: 0 !important
}

box.panel-viewstack
{ min-height: min-content
; max-height: none !important
}

/* That menu that appears with Alt, must not destroy the UI */ 
#toolbar-menubar:not([inactive="true"])
{ margin-top: -29px
; background: rgba(0, 0, 0, 0.5)
}
